@media screen and (max-width: 1150px){
    .container {
        max-width: 1075px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1090px){
    .container {
        max-width: 965px;
    }
}

@media screen and (max-width: 1024px) {
    .nav-logo {
width: 35%;
    }
    .menu{
width: 65%;
    }
    .container{
        width:930px;
    }
}
@media screen and (max-width: 960px){
    .container {
        max-width: 895px;
    }
}
@media screen and (max-width: 920px){
    .container {
        max-width: 875px;
    }
}
@media screen and (max-width: 880px){
    .container {
        max-width: 780px;
    }
}
@media screen and (max-width: 800px){
    .container {
        max-width: 750px;
    }
}
@media screen and (max-width: 770px){
    .container {
        max-width: 700px;
    }
}
@media screen and (max-width: 730px){

    .menu{
        visibility: hidden;
        display: none;
              }
              .nav-head {
                  display: flex;
                  justify-content: space-between;
              }
              .bar-menu{
                  display: block;
              }
              .bar-menu img {
                  width: 35px;
              }
}
@media screen and (max-width: 620px) {
    .nav-logo {
        width: 50%;
            }
            .menu{
                /* width: 50%;
              visibility: hidden; */
                    }
}

/* banner section */

@media screen and (max-width: 730px){
    .container{
        max-width: 635px;
        margin: 0 auto;
    }
    .text-div-1{
    flex-direction: column;
}
.img-div{
    width: 100%;
}
.banner-text h1 {
    font-size: 38px;

}
.banner-text p {
    font-size: 14px;
    line-height: 21px;
    width: 502px;
    margin: 7px 0 7px 0;
}
.text-div-2 {
    width: 100%;
}
.banner-form form {
    grid-template-columns: repeat(1, 1fr);

}
form button {
    width: 100%;
}
.banner-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 18px;
    width: 244px;
}
input {
    width: 226px;
}
.main-icon {
    left: 216px;
   bottom: 9px;
}
}
@media screen and (max-width: 670px){
    .icon-box {
        flex-wrap: wrap;
    }
    .head-text {
        width: 455px;
    }
    .box-1 {
        width: 75%;
    }
    .box-2 {
        width: 75%;
    }
    .box-3 {
        width: 75%;
    }
}

@media screen and (max-width: 650px){
    .container{
        max-width: 585px;
        margin: 0 auto;
    }
    .banner-text h1{
    font-size: 37px;
    }
    .banner-text p{
    font-size: 14px;
    width: fit-content;
    }
    .head-text {
        width: 385px;
    }
    .text-contain {
        width: 349px;
        top: 113px;
        left: 80px;
        padding: 30px;
    }
    .text-contain-1 {
        width: 349px;
        top: 113px;
        left: 80px;
        padding: 30px;
    }
    .price-buy h1 {
        font-size: 22px;
        line-height: 40px;
    }
    .p-style {
        font-size: 14px;
        line-height: 25px;
    }
    .price-btn {
        font-size: 14px;
    }
    .book-btn {
        font-size: 12px;
    }
    .list ul li {
        font-size: 12px;
    }
}
@media screen and (max-width: 600px){
    .text-contain {
        width: 308px;
        top: 125px;
        left: 80px;
        padding: 28px;
    }
    .text-contain-1 {
        width: 308px;
        top: 125px;
        left: 80px;
        padding: 28px;
    }
    .row-img-1 {
        width: 100%;
        height: 300px;
    }

    .row-img-2 {
        width: 100%;
        height: 300px;
    }

    .row-img-3 {
        width: 100%;
        height: 300px;
    }
    .row-img-4 {
        width: 100%;
        height: 300px;
    }

    .row-img-5 {
        width: 100%;
        height: 300px;
    }
    .row-img-6 {
        width: 100%;
        height: 300px;
    }
    .row-img-7 {
        width: 100%;
        height: 300px;
        
    }
    .img-section-1 {
        flex-direction: column;
        flex-wrap: wrap;
    }
    
}


@media screen and (max-width: 603px){
    .container{
        max-width: 530px;
        margin: 0 auto;
    }
    .banner-text p {
        width: 470px;
    }
}

@media screen and (max-width:553px) {
    .container{
        max-width: 500px;
        margin: 0 auto;
    }
    .text-contain {
        left: 60px;
    }
    .text-contain-1 {
        left: 60px;
    }
}
@media screen and (max-width:512px) {
    .container{
        max-width: 470px;
        margin: 0 auto;
    }
    .banner-text p {
        width: 400px;
        line-height: 20px;
        margin: 11px 0 11px 0;
    }
}
@media screen and (max-width: 500px){
    .text-contain {
        left: 52px;
    }
    .text-contain-1 {
        left: 52px;
    }

}
/* @media screen and (max-width:480px) {
    .container{
        max-width: 450px;
        margin: 0 auto;
    } */
 @media screen and (max-width:480px){
    .container{
        max-width: 435px;
        margin: 0 auto;
    }
    .banner-text p {
        width: 100%;
       
    }
    .text-contain {
        width: 275px;
        left: 55px;
        padding: 24px;
    }
    .text-contain-1 {
        width: 275px;
        left: 55px;
        padding: 24px;
    }
}

    @media screen and (max-width:450px){
        .container{
            max-width: 420px;
            margin: 0 auto;
        }
        .text-contain {
            left: 48px;
        }
        .text-contain-1 {
            left: 48px;
        }
        }
        @media screen and (max-width:435px){
            .container{
                max-width: 400px;
                margin: 0 auto;
            }
            .text-contain {
                left: 37px;
            }
            .text-contain-1 {
                left: 37px;
            }
            }
@media screen and (max-width:420px){
                .container{
                    max-width: 390px;
                    margin: 0 auto;
                }
                .banner-text p {
                    width: 100%;
                    font-size: 13px;
                }
                .banner-text h1 {
                    font-size: 30px;
                }
                .banner-text {
                    width: 340px;
                }
                .text-contain {
                    left: 30px;
                }
                .text-contain-1 {
                    left: 30px;
                }
                }
@media screen and (max-width:400px){
    .banner-text p {
        font-size: 12px;
    }
    .container {
        max-width: 355px;
        margin: 0 auto;
    }
    .text-contain {
        width: 256px;
        padding: 18px;
        top: 150px;
    }
    .text-contain-1 {
        width: 256px;
        padding: 18px;
        top: 150px;
    }
    .list ul {
        gap: 6px;
        flex-wrap: wrap;
    }
    .head-text h1 {
        font-size: 32px;
    }
    .head-text p {
        font-size: 13px;
        line-height: 21px;
    }
    .head-text {
        width: 337px;
    }
}
@media screen and (max-width:370px){
    .container {
        max-width: 330px;
        margin: 0 auto;
    }
    .banner-text {
        width: 300px;
    }
    .text-div-2 ul li {
        font-size: 14px;

    }
    .text-div-2 h1{
        font-size: 34px;
    }
    .text-div-2 p {
        font-size: 14px;
    }
    .text-contain {
        left: 29px;
        width: 231px;
    }
    .text-contain-1 {
        left: 29px;
        width: 231px;
    }
    .list ul li {
        line-height: 16px;
    }
    .p-style {
        font-size: 13px;
        line-height: 23px;
    }
    .price-btn {
        font-size: 13px;
        line-height: 25px;
    }
    .book-btn {
        font-size: 11px;
        padding: 8px 15px;
    }
}
@media screen and (max-width:350px){

    .container {
        max-width: 315px;
        margin: 0 auto;
    }
    .head-text {
        width: 300px;
    }
    .text-contain {
        left: 22px;
    }
    .text-contain-1 {
        left: 22px;
    }
}
    @media screen and (max-width:330px){
        .container {
            max-width: 300px;
            margin: 0 auto;
        }
        .text-contain {
            left: 14px;
        }
        .text-contain-1 {
            left: 14px;
        }
    }
    @media screen and (max-width:320px){
        .container {
            max-width: 295px;
            margin: 0 auto;
        }
        .banner-text {
            width: 280px;
        }
        .head-text {
            width: 285px;
        }
        .head-text h1 {
            font-size: 28px;
        }
        .head-text p {
            font-size: 12px;
        }
        .box-3 {
            width: 73%;
        }
    }