@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Mulish', sans-serif; 
     
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header {
    min-height: 74px !important;
}
.nav-logo{
display: flex;
align-items: center;
}
.nav-logo img{
width: 55px;
}
.nav-head {
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    min-height: 76px;
}

.nav-logo {
    width: 50%;
}

.nav-logo p {
    margin-left: 16px;
    color: #131318;
    font-size: 25px;
    font-weight: 800;
    line-height: normal;
}

.nav-logo span {
    color: #FF5400;
    font-size: 25px;
    font-weight: 800;
    line-height: normal;
}
.menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.menu a {
    text-decoration: none;
    color: #424247;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: 0.5s;
}
.menu a:active{
    color: #FF5400;
}
.menu a:hover{
    color: #FF5400;
}

/* banner */


.banner-img{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    width: 100%;
height: 68vh;
display: grid;
    place-content: center;
}

.banner-text h1{
    color: #FFF;
font-size: 55px;
font-weight: 800;
text-align: center;
}
.banner-text p{
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 605px;
margin:18px 0 18px 0;
}
.banner-form form{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 10px;
}
.banner-form {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
    width: 601px;
}
.input-div {
    position: relative;
}

.main-icon {
    position: absolute;
    left: 126px;
    color: #a09292;
    bottom: 13px;
    font-size: 12px;
}

input {
    width: 138px;
    height: 17px;
    padding: 7px;
    border-radius: 8px;
    border: none;
}
.image-text-con form {
    width: 672px;
    margin: auto;
    height: 43px;
    padding: 10px;
    line-height: 42px;
}

form button {
    padding: 7px;
    color: #fff;
    border-radius: 8px;
background: #FF5400;
    border: none;
    width: 111px;
    height: 33px;
}

button i.fa-solid.fa-magnifying-glass {
    padding: 2px;
    margin-right: 6px;
} 
/* 2nd section */

.text-div-1{
display: flex;
gap: 20px;
/* justify-content: center;
align-items: center; */
}
.text-div-1 h1{
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-top: 15px;
    margin-bottom: 18px;

}
.text-div-1 p{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
}
.text-div-1 ul li{
    color: rgba(19, 19, 24, 0.70);
font-size: 16px;
font-weight: 400;
line-height: 26px;
width: 485px;
    padding: 10px;
}
.text-div-1 ul{
    padding: 14px;
}
.button-read-more {
    border: 1px solid red;
    padding: 9px 17px;
    font-size: 15px;
    margin-top: 15px;
    color: #fff;
    border-radius: 8px;
    background: #FF5400;
}

.text-div-1 .img-div{

}